@import url(reset.css);
@import url(variaveis.css);
@import url(card.css);
@import url(padrao.css);
body{
  max-width: 97vw;
}
h1{
  font-size: 1.1rem;
  background-color: var(--cor-primaria);
  text-align: center;
  color: var(--cor-clara);
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
}
section{
  padding: 1rem;
}
ul{
  display: flex;
  flex-direction: column;
}
.codigo{
  margin: 0.4rem 0;
}
