@import url(reset.css);
@import url(variaveis.css);
@import url(card.css);
@import url(padrao.css);
body{
  max-width: 97vw;
}
h1{
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--cor-primaria);
  text-align: center;
  color: var(--cor-clara);
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
}
section{
  padding: 1rem;
}
ul{
  display: flex;
  flex-direction: column;
}
strong{
  font-weight: 500;
}

.tabela{
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center ;
}

.tabela-titulo{
  background-color: var(--cor-primaria);
  color: var(--cor-clara);
  font-weight: 550;
}